{% extends "::base.html.twig" %}
{% block body %}
<h3>Welcome to ITEC Dashboard!</h3>
<p3>View by Entities</p3>
<table class="table">
    <tr>
        <th>Entity</th>
		<th>Index</th>
		<th>Add</th>
    </tr>		
    <tr>
		<td>Assignment</td>        
		<td><a href="{{ path('AssignmentIndex') }}">View All Assignments</a></td>
		<td><a href="{{ path('newAssignment') }}">New Assignment</a></td>
    </tr>
	<tr>
		<td>Course</td>        
		<td><a href="{{ path('CourseIndex') }}">View All Courses</a></td>
		<td><a href="{{ path('NewCourse') }}">New Course</a></td>
    </tr>
	<tr>
		<td>Faculty</td>        
		<td><a href="{{ path('FacultyIndex') }}">View All Faculty</a></td>
		<td><a href="{{ path('NewFaculty') }}">New Faculty</a></td>
    </tr>
	<tr>
		<td>Technology Tools</td>        
		<td><a href="{{ path('ToolIndex') }}">View All Technology Tools</a></td>
		<td><a href="{{ path('NewTechTools') }}">New Technology Tool</a></td>
    </tr>
	<tr>
		<td>Technology Category</td>        
		<td><a href="{{ path('CatIndex') }}">View All Technology Categories</a></td>
		<td><a href="{{ path('NewTechCat') }}">New Technology Category</a></td>
    </tr>
</table>

<P3>View by Users</p3>
<table class="table">
{% for user in users %}
	<tr>
		<th>Username</th>
		<th>Email</th>
	</tr>
	<tr>		
		<td><a href="{{ path('UserView', {userid: user.id}) }}">{{ user.username }}</a></td>
		<td>{{ user.email }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
