{% extends "::base.html.twig" %}
{% block sidebar %}
<br>
<a href ="{{path('Home')}}">Home</a> <br>
<a href ="{{path('UserView', {userid: user.id})}}">My Account</a> <br>
<a href ="{{path('NewTechCat')}}">Add a new Technology Category</a>
{% endblock %}
{% block body %}
<h3>Technology Category Index</h3>
<table class="table">
    <tr>
        <th>Category Name</th>
    </tr>
{% for cat in TechnologyCategory %}
    <tr>
        <td><a href="{{ path('CatView', {'catid' : cat.id}) }}">{{ cat.name }}</a></td>
		<td><a href="{{ path('DeleteCat', {'catid' : cat.id}) }}">Delete</a></td>
    </tr>
{% endfor %}    
</table>
{% endblock %}
