{% extends "::base.html.twig" %}
{% block sidebar %}
	<br>
	<a href ="{{path('Home')}}">Home</a>  <br>
	<a href ="{{path('UserView', {userid: user.id})}}">My Account</a> <br>
	<a href ="{{path('NewTechTools')}}">Add a new Technology Tool</a>
{% endblock %}
{% block body %}
<h3>Technology Tools Index</h3>
<table class="table">
    <tr>
        <th>Tool Name</th>
    </tr>
{% for tool in TechnologyTools %}
    <tr>
        <td><a href="{{ path('ToolView', {'toolid' : tool.id}) }}">{{ tool.name }}</a></td>
		<td><a href="{{ path('DeleteTool', {'toolid' : tool.id}) }}">Delete</a></td>
    </tr>
{% endfor %}    
</table>
{% endblock %}
