{% extends "::base.html.twig" %}
{% block sidebar %}
<br>
<a href ="{{path('Home')}}">Home</a> <br>
<a href ="{{path('NewCourse')}}">Add Course</a>
{% endblock %}
{% block body %}
<table class="table">
    <tr>
        <th>Course Number</th>
        <th>Name</th>
        <th>Faculty</th>
        <th>Department</th>
    </tr>
{% for course in courses %}
    <tr>
        <td>{{ course.coursenumber }}</td>
        <td><a href="{{ path('CourseView', {'courseid' : course.id}) }}">{{ course.name }}</a></td>
        <td>{% for faculty in course.faculty %} {{ faculty.FullName}} <br> {% endfor %}</td> 
        <td>{{course.department}}</td>
		{% set existBoo = "false" %}
		{% for follower in course.follower %}
		{% if follower == user%}
		<td><a href="{{ path('UnfollowCourse', {'courseid' : course.id}) }}">Unfollow</a></td>
		{% set existBoo = "true"%}
		{% endif%}
		{% endfor%}
		{% if existBoo == "false" %}
		<td><a href="{{ path('FollowCourse', {'courseid' : course.id}) }}">Follow</a></td>
		{% endif%}
		
        <td><a href="{{ path('DeleteCourse', {'courseid' : course.id}) }}">Delete</a></td>
    </tr>
{% endfor %}   
</table>
{% endblock %}
