{% extends "::base.html.twig" %}
{% block sidebar %}
	<br>
	<a href ="{{path('Home')}}">Home</a> <br>
	<a href ="{{path('UserView', {userid: user.id})}}">My Account</a> <br>
	<a href="{{path('newAssignment')}}">Add Assignment</a>
{% endblock %}
{% block body %}
<h3>Assignment Index</h3>
<table class="table">
	<tr>
		<th>Assignment Name</th>
		<th>Brief Description</th>
		<th>Course</th>
		<th>Technology Tools</th>
		<th>Technology Category</th>
		<th>Project URL</th>
	</tr>
{% for assignment in assignments %}
	<tr>
		<td><a href="{{ path('AssignmentView', {'assignmentid' : assignment.id}) }}">{{ assignment.name }}</a></td>
		<td>{{ assignment.briefdescription }}</td>
		<td><a href="{{ path('CourseView', {'courseid' : assignment.course.id}) }}">{{ assignment.course.name}}</a></td>
		<td>{% for TechTools in assignment.TechnologyTools %} {{ TechTools.name }} <br> {% endfor %}</td>
		<td>{% for TechCatory in assignment.TechnologyCategory %} {{ TechCatory.name }} <br> {% endfor %}</td>
		<td>{{ assignment.projecturl }}</td>
		<td><a href="{{ path('DeleteAssignment', {'assignmentid' : assignment.id}) }}">Delete</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
